$themColor:#9575CD;
$primaryColor:#BA68C8;
$dangerColor:#FF9900;
$opacityColor:rgba(149,117,205,0.3);
$lightColor:rgba(149,117,205,0.1);
$successColor:#e1f3d8;
$errorColor:#fde2e2;
$warningColor:#e6a23c;
$infoColor:#CCCCCC;
